@model GhyomAssignment.Models.NWC_Default_Slice_Values

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>NWC_Default_Slice_Values</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NWC_Default_Slice_Values_Code" class="control-label"></label>
                <input asp-for="NWC_Default_Slice_Values_Code" class="form-control" />
                <span asp-validation-for="NWC_Default_Slice_Values_Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NWC_Default_Slice_Values_Name" class="control-label"></label>
                <input asp-for="NWC_Default_Slice_Values_Name" class="form-control" />
                <span asp-validation-for="NWC_Default_Slice_Values_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NWC_Default_Slice_Values_Condtion" class="control-label"></label>
                <input asp-for="NWC_Default_Slice_Values_Condtion" class="form-control" />
                <span asp-validation-for="NWC_Default_Slice_Values_Condtion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NWC_Default_Slice_Values_Water_Price" class="control-label"></label>
                <input asp-for="NWC_Default_Slice_Values_Water_Price" class="form-control" />
                <span asp-validation-for="NWC_Default_Slice_Values_Water_Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NWC_Default_Slice_Values_Sanitation_Price" class="control-label"></label>
                <input asp-for="NWC_Default_Slice_Values_Sanitation_Price" class="form-control" />
                <span asp-validation-for="NWC_Default_Slice_Values_Sanitation_Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NWC_Default_Slice_Values_Reasons" class="control-label"></label>
                <input asp-for="NWC_Default_Slice_Values_Reasons" class="form-control" />
                <span asp-validation-for="NWC_Default_Slice_Values_Reasons" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
