@model GhyomAssignment.Models.NWC_Rreal_Estate_Types

@{
    ViewData["Title"] = "Edit";
}

<h1>تعديل</h1>

<h4>أنواع العقار</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NWC_Rreal_Estate_Types_Code" class="control-label">
                    رمز نوع العقار
                </label>
                <input asp-for="NWC_Rreal_Estate_Types_Code" class="form-control" />
                <span asp-validation-for="NWC_Rreal_Estate_Types_Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NWC_Rreal_Estate_Types_Name" class="control-label">
                    وصف العقار
                </label>
                <input asp-for="NWC_Rreal_Estate_Types_Name" class="form-control" />
                <span asp-validation-for="NWC_Rreal_Estate_Types_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NWC_Rreal_Estate_Types_Reasons" class="control-label">
                    ملاحظات
                </label>
                <input asp-for="NWC_Rreal_Estate_Types_Reasons" class="form-control" />
                <span asp-validation-for="NWC_Rreal_Estate_Types_Reasons" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="حفظ" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">العودة الي القائمة </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
