@{
    ViewData["Title"] = "Home Page";
}

<header class="bg-light p-5 text-center">
    <h1>مرحبا بكم في الموقع الاكتروني لفواتير المياه</h1>
    <p class="lead">

        شركة المياه الوطنية هي شركة سعودية متخصصة في إدارة وتشغيل الأنظمة المائية والصرف الصحي في المملكة العربية السعودية.
        تأسست الشركة في عام 2008 وتتمتع بخبرة واسعة في هذا المجال. تسعى الشركة إلى توفير خدمات مائية وصحية عالية الجودة للمواطنين والمقيمين في المملكة.
        </p>
    <a href="#" class="btn btn-primary btn-lg">المزيد</a>
</header>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="/images/1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">خدمات شركة المياه الوطنية</h5>
                        <p class="card-text">


                            
                            تقدم شركة المياه الوطنية مجموعة متنوعة من الخدمات المائية والصحية، بما في ذلك تصميم وتشغيل الأنظمة المائية والصرف الصحي، وصيانة وإصلاح الأنظمة، وتوفير المياه النظيفة والصالحة للشرب، وتنظيم وتنسيق الأنشطة المتعلقة بالمياه والصرف الصحي.




                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="/images/2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">رؤية شركة المياه الوطنية</h5>
                        <p class="card-text">
                            
                            تسعى شركة المياه الوطنية إلى تحسين جودة الحياة للسكان في المملكة العربية السعودية من خلال توفير خدمات مائية وصحية عالية الجودة. تسعى الشركة إلى تحقيق التنمية المستدامة من خلال توفير المياه النظيفة والصالحة للشرب والحفاظ على البيئة والموارد الطبيعية في المملكة.



                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="/images/3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">تطوير تقنيات جديدة</h5>
                        <p class="card-text">
                            تعمل الشركة على تطوير تقنيات جديدة ومبتكرة لتحسين جودة المياه وتلبية الاحتياجات المائية المتزايدة في المملكة.
                            ويمكن أن تكون هذه التقنيات تشمل عمليات معالجة المياه المتقدمة والمبتكرة واستخدام التقنيات الحديثة لمراقبة جودة المياه وتحليلها بدقة
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


